################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs/darwinsproject/v16/.suo
/.vs/darwinsproject/v16/Browse.VC.db
/.vs/darwinsproject/v16/ipch/AutoPCH/5d654d7b66348ee4/DISPLAY.ipch
/.vs/darwinsproject/v16/ipch/AutoPCH/8ffcda420ca2ddb8/CELL.ipch
/.vs/darwinsproject/v16/ipch/AutoPCH/f24f7282f0c70110/DARWINS_PROJECT.ipch
/darwinsproject/cell.h
/darwinsproject/darwin_project.vcxproj.user
/darwinsproject/data.txt
/darwinsproject/x64/Debug/cell.obj
/darwinsproject/x64/Debug/darwin_project.log
/darwinsproject/x64/Debug/darwin_project.tlog/CL.command.1.tlog
/darwinsproject/x64/Debug/darwin_project.tlog/CL.read.1.tlog
/darwinsproject/x64/Debug/darwin_project.tlog/CL.write.1.tlog
/darwinsproject/x64/Debug/darwin_project.tlog/darwin_project.lastbuildstate
/darwinsproject/x64/Debug/darwin_project.tlog/link.command.1.tlog
/darwinsproject/x64/Debug/darwin_project.tlog/link.read.1.tlog
/darwinsproject/x64/Debug/darwin_project.tlog/link.write.1.tlog
/darwinsproject/x64/Debug/darwins_project.obj
/darwinsproject/x64/Debug/display.obj
/darwinsproject/x64/Debug/vc142.idb
/darwinsproject/x64/Debug/vc142.pdb
/x64/Debug/SDL2.dll
/x64/Debug/darwin_project.exe
/x64/Debug/darwin_project.ilk
/x64/Debug/darwin_project.pdb
/x64/Debug/data.txt
.vs/